@using TTN_DXQ_LCH_NTN.Models
@model List<Blog>

<div class="baiviet-ganday">
    <h4>Bài viêt gần đây</h4>
    @{
        foreach (var item in Model)
        {
            <div class="mot-baiviet-ganday">
                <div class="anh-baiviet-ganday">
                    <a href="#"><img src="@Url.Content(item.Image)" alt=""></a>
                </div>
                <div class="noidung-baiviet-ganday">
                    <h4><a href="#">@item.Title</a></h4>
                    <span>@item.Date</span>
                </div>
            </div>
        }
    }

</div>